.contHeader {
  display: flex;
  color: white;
  font-weight: bolder;
  height: 7%;
  background-color: rgba(0, 0, 0, 0.748);
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 6rem;
  margin-top: 50px;
  margin-left: 20px;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.options {
  display: flex;
  width: 40%;
  color: aliceblue;
  justify-content: space-around;
  align-items: center;
}

.link {
  color: white;
  text-decoration: none;
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s ease;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: #00ffbf;
  transition: width 0.3s ease;
}

.link.active {
  color: #00ffbf;
}

.link.active::after {
  width: 100%;
}

.link:hover {
  color: #00ffbf;
}

.link:hover::after {
  width: 100%;
}
